* {
    box-sizing: border-box;
}
body {
    margin: 0;
    position: relative;
}

.column {
    border: 0px solid gray;

}
.row {
    display: flex;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 2rem;  
}
